.statsArea {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.statsArea__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.statsArea__label {
  font-size: 36/16*1rem;
}

.statsArea__stat {
  font-size: 60/16*1rem;
}

#money::after {
  content: '$';
}
@media (max-width: 650px) {
  .statsArea {
    margin-bottom: 1rem;
  }
}
